@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@layer utilities {
    video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index:-100;
        
      }
    
      .scanlines {
        z-index: 4558;
      }
      .scanlines:before {
        content : '';
        position : absolute;
        top : 0px;
        left: 0px;
        width : 100%;
        height : 12px;
        background : #fff;
        background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255,250,250,1) 50%,rgba(255,255,255,0.98) 51%,rgba(255,0,0,0) 100%); /* W3C */
        opacity : .1;
        animation: vline 6.25s linear infinite;
      }
      
      


    /* Animation */
    .anim-typewriter {
        animation: typewriter 2s steps(24) 5s 1 normal both,
            blinkTextCursor 500ms steps(24) infinite normal;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 24ch;
        }
    }

    @keyframes blinkTextCursor {
        from {
            border-right-color: #66ff66;
            text-shadow: 0 0 10px #33FF33;
            ;
        }

        to {
            border-right-color: transparent;
        }
    }

    .mono:lang(en-us),
    .mono {
        font-family: Courier, Courier New;
    }

    :lang(zh-Hans) {
        font-family: Songti SC;
    }

    .retro {
        color: #66FF66;
        text-shadow: 0 0 10px #33FF33;
    }

    .line-1 {
        width: 44ch;    
        border-right: 1ch solid rgba(154, 124, 124, 0);
        white-space: nowrap;
        overflow: hidden;
    }

    /* Animation */
    body {
        color: #66FF66;
        text-shadow: 0 0 10px #33FF33;
        font-family: 'Anonymous Pro', monospace;
        margin: 0;
        background-color: black;
    }

    .terminal {
        color: #66FF66;
        text-shadow: 0 0 10px #33FF33;
    }

    .terminal p {
        margin: 0 0 10px;
        color: #66FF66;
        text-shadow: 0 0 10px #33FF33;
    }

    .terminal-image {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        height: auto;
        filter: brightness(0) invert(1);
        box-shadow: 0 0 10px #00ff00;
    }



}